
/* Your CSS Code here. */
.holder{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(2,200px);
}

.grid_item{
    border: 1px solid black;
}